.btn-container {
  .btn {
    background-color: #d2d2d2;
    width: 25px;
    height: 25px;
    padding: 0;
    border-radius: 5px;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 130px;
    z-index: 1;
    padding: 5px 5px;
    .sub-menu {
      position: absolute;
      left: 100%;
      top: 0;
      min-width: max-content;
      display: block;
    }
    .dropdown-item {
      font-size: 1rem;
      padding: 5px 10px;
    }

    .active {
      color: black;
    }
    .check {
      margin-left: 5px;
      color: rgb(62, 14, 238);
    }
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
