<div class="btn-container">
  <div class="dropdown">
    <!-- Nút mở menu -->
    <button class="btn" (mouseenter)="openMenu()" (click)="clickOpenMenu()">
      <i class="fas fa-ellipsis-v"></i>
    </button>

    <!-- Dropdown menu -->
    <div
      #dropdownMenu
      class="dropdown-menu"
      [class.show]="isMenuOpen"
      (mouseenter)="isMenuOpen = true"
      (mouseleave)="closeMenuOnHover()"
    >
      <li class="dropdown-item active disabled">
        <div *ngIf="isSubMenuLeft">
          <i class="fa fa-angle-left"></i>
          Độ rộng
        </div>
        <div *ngIf="!isSubMenuLeft">
          Độ rộng
          <i class="fa fa-angle-right"></i>
        </div>
      </li>

      <!-- Submenu -->
      <ul
        #dropdownWidth
        class="dropdown-menu sub-menu"
        [class.show]="isSubMenuOpen"
        (mouseenter)="isSubMenuOpen = true"
        (mouseleave)="closeMenuOnHover()"
      >
        <li
          *ngFor="let item of listWidthWidget[0].children"
          class="dropdown-item"
          (click)="selectWidth(item)"
        >
          {{ item.name }}
          <i *ngIf="selectedItem == item.id" class="check fa fa-check"></i>
        </li>
      </ul>
    </div>
  </div>
</div>
