.chart-doughnut-container {
  position: relative;
  width: 100%;
  height: clamp(200px, 30vw, 400px);
  // min-height: 200px;
  overflow-x: hidden;
}
canvas {
  width: 100%;
  justify-content: center;
}

@media only screen and (max-width: 1199.98px) {
  .chart-doughnut-container {
    height: 276px;
  }
}
@media only screen and (min-width: 575.98px) and (max-width: 767.98px) {
  .chart-doughnut-container {
    height: 245px;
  }
}
