.chart-container {
  width: 100%;
  // max-width: 400px;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .chart-legend {
//   display: flex;
//   justify-content: center;
//   gap: 20px;
//   margin-top: 10px;
//   font-size: 60px;
// }

// .chart-legend li {
//   display: flex;
//   align-items: center; // Căn giữa theo chiều dọc
//   gap: 8px;
//   font-size: 60px;
// }

// .chart-legend li span {
//   display: flex;
//   align-items: center;
//   font-size: 60px;
// }
