.multiselect-dropdown {
  width: 20em;

  .selected-items {
    cursor: pointer;

    .dropdown-icon {
      font-size: 12px;
      color: #666;
    }
  }

  .dropdown-list {
    display: none;
    z-index: 1000;

    &.d-block {
      display: block;
    }

    .options {
      .option {
        cursor: pointer;

        &:hover {
          background-color: #f8f9fa;
        }
      }
    }
  }
}
