<div class="d-flex">
  <button class="btn" (click)="toggleDropdown()">
    <i class="fa fa-ellipsis-v"></i>
  </button>
  <!-- Dropdown chính -->
  <ul class="dropdown-menu" [class.show]="dropdownOpen">
    <li class="dropdown-item">
      Độ rộng
      <i class="fa fa-angle-right"></i>
    </li>

    <!-- Sub-menu -->
    <ul class="dropdown-menu sub-menu" *ngIf="subMenuOpen">
      <li
        *ngFor="let item of listWidthWidget[0].children"
        class="dropdown-item"
        (click)="selectItem(item)"
      >
        {{ item.name }} <span *ngIf="selectedItem?.id === item.id">✔</span>
      </li>
    </ul>
  </ul>
</div>
