.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.fs-11 {
  font-size: 11px;
}

.scrollable {
  overflow-x: auto;
}

.dash-board {
  background-color: #eeefff;
  overflow-x: hidden;
  height: 100vh;

  .widget-container {
    .widget-item {
      background: white;
      border-radius: 2px;
      padding: 5px;

      .widget-title {
        padding: 0 5px;
      }

      .btn {
        background-color: #d2d2d2;
        width: 25px;
        height: 25px;
        padding: 0;
        margin-left: 10px;
        border-radius: 3px;
      }
    }
  }
}