<div class="card">
  <div class="card-header">{{ title }} ({{ lengthList }})</div>
  <div class="card-body position-relative">
    <div class="no-data" *ngIf="this.lengthList == 0">Không có dữ liệu</div>
    <div class="card-body-search input-group" *ngIf="this.lengthList > 0">
      <input type="text" class="form-control" [(ngModel)]="stringSearch" placeholder="Tìm nhóm phương tiện" />
      <div class="input-group-append">
        <span class="input-group-text"><i class="fa fa-search"></i></span>
      </div>
    </div>
    <div class="flex-grow-1 overflow-auto card-body-height">
      <div class="check-all sticky-top" *ngIf="this.lengthList > 0">
        <input type="checkbox" [checked]="isAllItem" (change)="onCheckAll()" />
        <label>Tất cả</label>
      </div>
      <div class="attribute-section" *ngFor="let attribute of listItem | filter : stringSearch : 'name'">
        <app-select-row-groups
          [attribute]="attribute"
          [allSelected]="isAllItem"
          (selectedChange)="onSelectedChange($event, listItem)">
        </app-select-row-groups>
      </div>
    </div>
  </div>
</div>
