<div class="container-fluid container-form">
  <h6 class="font-weight-bold form-title">QUẢN TRỊ NHÓM PHƯƠNG TIỆN</h6>
  <div class="row">
    <!-- Danh sách người dùng -->
    <div class="col-12 col-md-4">
      <div class="card h-100">
        <div class="card-header font-weight-bold form-title">Danh sách người dùng</div>
        <div class="card-body">
          <div class="card-body-search input-group">
            <input type="text" class="form-control" [(ngModel)]="userSearch" placeholder="Tìm người dùng" />
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
          </div>
          <div class="overflow-auto" style="height: calc(100vh - 240px)">
            <table class="table">
              <tbody>
                <tr
                  *ngFor="let item of listUser | filter : userSearch : 'fullName'; let i = index"
                  id="{{ item.PK_UserID }}"
                  [ngClass]="{ 'selected-row': selectedId && item.PK_UserID == selectedId }"
                  (click)="onClickRow(item)">
                  <td>{{ item.fullName }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Hai cột nhóm: chọn + đã gán với nút ở giữa -->
    <div class="col-12 col-md-8">
      <div class="row" style="min-height: 100%">
        <!-- Chọn nhóm -->
        <div class="col-12 col-sm-auto flex-grow-1">
          <div class="card h-100">
            <div class="card-header font-weight-bold form-title">Chọn nhóm cho người dùng ({{ listGroups.length }})</div>
            <div class="card-body">
              <div class="card-body-search input-group">
                <input type="text" class="form-control" [(ngModel)]="availableGroupSearch" placeholder="Tìm nhóm phương tiện" />
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
              </div>

              <div class="flex-grow-1 overflow-auto">
                <div class="overflow-auto" style="height: calc(100vh - 240px)">
                  <table class="table table-tree">
                    <tbody>
                      <!-- <tr>
                        <app-select-row-groups
                          *ngFor="let item of listGroups | filter : availableGroupSearch : 'name'; let i = index"
                          [item]="item"></app-select-row-groups>
                      </tr> -->
                      <tr
                        *ngFor="let item of listGroups | filter : availableGroupSearch : 'name'; let i = index"
                        [ngClass]="{ 'hide-row': item.isHide }">
                        <td class="text-center" [@showHide]="!item.isHide ? 'open' : 'closed'">
                          <span *ngIf="item.hasChild">
                            <i
                              (click)="showHideChildren(item)"
                              [ngClass]="{ collapse: !item.isHideChildren }"
                              [@openClose]="!item.isHideChildren ? 'open' : 'closed'"
                              [ngClass]="!item.isHideChildren ? 'fa-solid fa-caret-down' : 'fa-solid fa-caret-up'"></i>
                          </span>
                        </td>

                        <td>
                          <div [ngClass]="paddingLevel(item)" [@showHide]="!item.isHide ? 'open' : 'closed'">
                            <div *ngIf="!item.hasChild" style="width: 24px"></div>
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" [(ngModel)]="item.isSelected" />
                              <i class="fa fa-folder"></i>
                              <div class="form-check-label d-inline">{{ item.name }}</div>
                            </div>
                          </div>
                        </td>

                        <!-- <app-select-row-groups *ngFor="let sub of item.groupsChild || []" [item]="sub"></app-select-row-groups> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Nút ở giữa -->
        <div class="col-auto d-flex align-items-center mx-auto justify-content-center">
          <div class="text-center" style="width: max-content">
            <button class="btn btn-secondary btn-sm mb-2 px-2" (click)="assignGroups()">&gt;</button><br />
            <button class="btn btn-secondary btn-sm px-2" (click)="unassignGroups()">&lt;</button>
          </div>
        </div>

        <!-- Nhóm đã gán -->
        <div class="col-12 col-sm-auto flex-grow-1">
          <div class="card h-100">
            <div class="card-header font-weight-bold form-title">Nhóm đã gán cho người dùng ({{ assignedGroups.length }})</div>
            <div class="card-body">
              <div class="card-body-search input-group">
                <input type="text" class="form-control" [(ngModel)]="assignedGroupSearch" placeholder="Tìm nhóm phương tiện" />
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
              </div>
              <div class="flex-grow-1 overflow-auto">
                <div *ngFor="let group of assignedGroups | filter : assignedGroupSearch : 'name'">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="group.selected" />
                    <label class="form-check-label">{{ group.name }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer buttons -->
  <div class="text-center mt-3">
    <button class="btn btn-primary mr-2" (click)="save()">Lưu</button>
    <button class="btn btn-secondary" (click)="cancel()">Hủy</button>
  </div>
</div>
