.active {
  background-color: #436a9f;
}

button[disabled="true"] {
  color: rgb(238, 19, 19) !important;
}

.container-form {
  padding: 10px 10px;
  overflow: none;

  .form-title {
    color: #436a9f;
    font-size: 14px;
  }

  .card {
    .card-header {
      padding: 0.75rem 1rem;
    }

    .card-body {
      padding: 0;

      .no-data {
        font-size: 18px;
        font-weight: 500;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
      }

      &-search {
        padding: 17px 10px;
      }

      .check-all {
        padding: 0 0 8px 22px;


        label {
          text-align: center;
          cursor: pointer;
          font-size: 15px;
          margin-left: 5px;
        }
      }

      .input-group {
        input {
          border-right: none;
        }

        .form-control:focus {
          box-shadow: none;
          border-color: #ced4da;
          outline: none;
          /* giữ viền giống trạng thái bình thường */
        }

        .input-group-text {
          background-color: white;
          padding: 0.375rem 0.5rem;
          border-left: none !important;
        }
      }

      table {
        td {
          padding: 8px 10px !important;
          border: none;
        }

        tr:nth-child(even) {
          background-color: #f5f5f5;
        }

        tbody tr:hover {
          background-color: #caeffb;
        }
      }
    }
  }

  .container-btn {
    padding: 0;

    .active {
      background-color: #436a9f;
    }

    i {
      padding: 4px 10px;
      font-size: 1rem;
      color: white;
    }
  }
}

.selected-row {
  background-color: #caeffb !important;
}


.attribute-section {
  padding: 0px 10px 0 2px;
  margin-bottom: 10px;

}