<div class="container-fluid driving-form p-0">
  <h6 class="driving-form-title">THÔNG TIN LÁI XE</h6>
  <div class="driving-form-search row w-100">
    <div class="col">
      <app-input-search-option
        [placeholder]="'Tìm kiếm'"
        [searchOption]="filterEmployeesGrid.option"></app-input-search-option>
    </div>
    <div class="col">
      <app-multi-select-dropdown
        [title]="'Lái xe'"
        [items]="this.lstDriver"
        [displayField1]="'displayName'"
        [displayField2]="'driverLicense'"
        [allSelected]="false"
        [placeholder]="'Chọn lái xe'"
        [search]="true"
        [selectAll]="true"
        (selectedChange)="onSelectedChangeDriver($event)"></app-multi-select-dropdown>
    </div>
    <div class="col">
      <app-multi-select-dropdown
        [title]="'Loại bằng'"
        [items]="this.listLicenseTypes"
        [displayField1]="'name'"
        [allSelected]="false"
        [placeholder]="'Chọn loại bằng'"
        [search]="true"
        [selectAll]="true"
        (selectedChange)="onSelectedChangeLicenseTypes($event)"></app-multi-select-dropdown>
    </div>
    <div class="col-auto d-flex flex-column align-items-center p-2">
      <div class="mt-auto">
        <button class="btn-sm text-white" (click)="searchPagingToEdit()"><i class="fa fa-search"></i> Tìm kiếm</button>
      </div>
    </div>
  </div>
  <div class="d-flex float-right mt-1 g-2">
    <button class="btn-sm text-white"><i class="fa fa-save"></i> Lưu thông tin</button>
    <button class="btn-sm text-white ml-2 mr-2"><i class="fa fa-times"></i>Hủy</button>
    <button class="btn-sm text-white"><i class="fa fa-file-excel"></i></button>
  </div>

  <div class="table-responsive pt-2">
    <table class="table table-bordered table-sm mb-0">
      <thead class="head-light sticky-thead">
        <tr>
          <th>STT</th>
          <th>Họ và tên <span class="col-required">*</span></th>
          <th>Số điện thoại</th>
          <th>Số giấy phép lái xe <span class="col-required">*</span></th>
          <th>Ngày cấp <span class="col-required">*</span></th>
          <th>Ngày hết hạn <span class="col-required">*</span></th>
          <th>Nơi cấp <span class="col-required">*</span></th>
          <th>Loại bằng <span class="col-required">*</span></th>
          <th>Ngày cập nhật</th>
          <th>Xóa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listEmployeesGrid; let i = index">
          <td class="text-center">{{ i + 1 + (filterEmployeesGrid.pageIndex - 1) * filterEmployeesGrid.pageSize }}</td>
          <td>{{ item.displayName }}</td>
          <td>{{ item.mobile }}</td>
          <td>{{ item.driverLicense }}</td>
          <td>{{ item.issueLicenseDate }}</td>
          <td>{{ item.expireLicenseDate }}</td>
          <td>{{ item.issueLicensePlace }}</td>
          <td>
            <!-- <select  class="form-control form-control-sm">
              <option value="">Chọn loại bằng</option>
              <option *ngFor="let type of licenseTypes" [value]="type">{{ type }}</option>
            </select> -->
          </td>
          <td></td>
          <td>
            <button class="btn btn-sm btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <form>
    
  </form> -->

  <app-pagination
    #paginator
    [pagingModel]="pagingModel"
    (reload)="reloadPagingToEdit()"
    (page)="pageIndexChange($event)">
  </app-pagination>
</div>
