.toolbar-user-container {
  display: flex;
  float: inline-end;
  align-items: center;
  height: 100%;

  .btn {
    box-shadow: none;
    outline: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  i {
    font-size: 30px;
    color: #0c0c0c91;
  }
}

.name {
  margin: 0 8px;
}