.attribute-item {
  flex-wrap: nowrap;

  .row-item {
    margin-left: 5px;
  }

  .toggle-icon {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    .open {
      transform: rotate(180deg);
    }
  }

  .check {
    // padding-left: 28px;

    .attribute-item-child {
      width: 100%;
    }

    .form-check-input1 {
      cursor: pointer;
    }

  }

  .folder-icon {
    // position: relative;
    text-align: center;

    img {
      width: 18px;
      // position: absolute;
      bottom: 3px;

    }

  }

  .form-check-label {

    text-align: center;
    cursor: pointer;
    font-size: 15px;


  }

}

.attribute-item:hover,
.attribute-item-child:hover {
  background-color: #caeffb;
}


$padding-value: 15px;

.padding-0 {
  padding-left: 0;
}

.padding-1 {
  padding-left: $padding-value;
}

.padding-2 {
  padding-left: $padding-value * 2;
}