<div class="d-flex attribute-item text-center">
  <i
    class="row-item text-center"
    *ngIf="attribute.hasChild"
    [ngClass]="!attribute.isHide ? 'fa-solid fa-caret-down' : 'fa-solid fa-caret-up'"
    (click)="toggleVisibility(attribute)"></i>
  <div *ngIf="!attribute.hasChild" style="width: 15px"></div>

  <div class="check row-item">
    <input
      class="form-check-input1"
      type="checkbox"
      [id]="'attribute-' + attribute.pK_VehicleGroupID"
      [checked]="attribute.allComplete"
      [indeterminate]="someComplete(attribute)"
      (change)="onCheckboxChange($event, attribute)" />
  </div>

  <div class="folder-icon row-item text-center">
    <img src="../assets/image/folder-icon.svg" alt="icon" />
  </div>
  <label class="form-check-label fw-semibold row-item">
    {{ attribute.name }}
  </label>
</div>

<div *ngIf="attribute.groupsChild">
  <div class="check" *ngFor="let attributeValue of attribute.groupsChild" #child [style.padding-left.px]="20" ngClass="attribute-item-child">
    <div class="d-flex attribute-item" [ngClass]="paddingLevel(attributeValue)">
      <input
        class="form-check-input1 row-item"
        type="checkbox"
        [(ngModel)]="attributeValue.isSelected"
        [checked]="attributeValue.isSelected"
        [indeterminate]="someComplete(attributeValue)"
        (change)="onCheckboxChange($event, attributeValue)"
        [id]="'value-' + attributeValue.pK_VehicleGroupID"
        (ngModelChange)="updateAllComplete(attribute)" />
      <div class="folder-icon row-item text-center">
        <img src="../assets/image/folder-icon.svg" alt="icon" />
      </div>
      <label class="form-check-label row-item">
        {{ attributeValue.name }}
      </label>
    </div>
  </div>
</div>
