.multiselect-dropdown {
  position: relative;
  width: 20em;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 5px;
  background-color: white;

  .selected-items {
    display: flex;
    align-items: center; /* Căn giữa các phần tử */
    cursor: pointer;

    .placeholder-input {
      width: 100%;
      border: none;
      background: transparent;
      cursor: pointer;
      font-size: 14px;
      color: #333;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #ced4da;
      }
    }

    .search-input {
      width: 100%;
      border: none;
      background: transparent;
      font-size: 14px;
      color: #333;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #ced4da;
      }
    }

    .dropdown-icon {
      margin-left: auto; /* Đẩy icon sang bên phải */
      font-size: 12px;
      color: #666;
    }
  }

  .dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: 0 3px 8px gray;
    z-index: 100;
    margin-top: 5px;

    &.show {
      display: block;
    }

    .select-all {
      padding: 5px;
      border-bottom: 1px solid #999;

      input {
        margin-right: 5px;
      }

      label {
        font-weight: bold;
      }
    }

    .options {
      max-height: 15rem;
      overflow-y: auto;

      .option {
        padding: 5px;
        cursor: pointer;
        border-bottom: 1px solid #eee; /* Kẻ phân chia giữa các item */

        &:hover {
          background-color: #ced4da;
        }

        &.checked {
          background-color: #e9ecef;
        }

        input {
          margin-right: 5px;
        }
      }
    }
  }
}
