<div class="d-flex attribute-item text-center" [ngClass]="{ 'attribute-item-active': attribute.isNewItem == true }">
  <div class="row-item text-center">
    <i
      *ngIf="attribute.hasChild"
      [ngClass]="!attribute.isHideChildren ? 'fa fa-caret-down ' : 'fa fa-caret-right'"
      (click)="toggleVisibility(attribute)"></i>
  </div>

  <div *ngIf="!attribute.hasChild" style="width: 10px"></div>

  <div class="check-input row-item">
    <input
      class="check"
      type="checkbox"
      [id]="'attribute-' + attribute.pK_VehicleGroupID"
      [checked]="attribute.allComplete"
      [indeterminate]="someComplete(attribute)"
      (change)="onCheckboxChange($event, attribute)" />
  </div>

  <div class="folder-icon row-item">
    <img src="../assets/image/folder-icon.svg" alt="icon" />
  </div>
  <label class="form-check-label fw-semibold row-item" [for]="'attribute-' + attribute.pK_VehicleGroupID">
    {{ attribute.name }}
  </label>
</div>

<div *ngIf="attribute.groupsChild" [ngClass]="{ hidden: attribute.isHideChildren == true }">
  <div
    class="check-input"
    *ngFor="let attributeValue of attribute.groupsChild"
    [style.padding-left.px]="20"
    [ngClass]="{ 'attribute-item-active': attribute.isNewItem == true }"
    class="attribute-item-child">
    <div class="d-flex attribute-item" [ngClass]="paddingLevel(attributeValue)">
      <input
        class="check row-item"
        type="checkbox"
        [(ngModel)]="attributeValue.isSelected"
        [checked]="attributeValue.isSelected"
        [indeterminate]="someComplete(attributeValue)"
        (change)="onCheckboxChange($event, attributeValue)"
        [id]="'value-' + attributeValue.pK_VehicleGroupID"
        (ngModelChange)="updateAllComplete(attribute)" />
      <div class="folder-icon row-item text-center">
        <img src="../assets/image/folder-icon.svg" alt="icon" />
      </div>
      <label class="form-check-label row-item" [for]="'value-' + attributeValue.pK_VehicleGroupID">
        {{ attributeValue.name }}
      </label>
    </div>
  </div>
</div>
