.chart-container {
  // display: flex;
  // justify-content: center; /* Căn giữa ngang */
  // align-items: flex-end; /* Đưa biểu đồ xuống sát mép dưới */
}

.apexcharts-yaxis-title {
  transform: rotate(0deg) !important; // Giữ tiêu đề nằm ngang
  position: absolute;
  top: -20px; // Đưa lên trên cùng
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
}

.apexcharts-xaxis-label {
  white-space: break-spaces !important; /* Cho phép xuống dòng */
  word-wrap: break-word !important; /* Ngắt từ nếu cần */
  text-align: center !important; /* Căn giữa */
  max-width: 100px !important; /* Giới hạn chiều rộng */
}
