<!-- <div
  style="
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  "
>
  Số phương tiện
</div> -->

<!-- <div class="chart-container" [ngStyle]="{ width: width }">
  <canvas
    #chartCanvas
    baseChart
    [data]="chartData"
    [type]="chartType"
    [options]="chartOptions"
    [plugins]="chartPlugins"
  ></canvas>
</div> -->

<div style="width: 100%; overflow-x: auto">
  <div [style.min-width.px]="chartData.length * 100">
    <!-- Độ rộng tự động -->
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [plotOptions]="chartOptions.plotOptions"
      [dataLabels]="chartOptions.dataLabels"
      [colors]="chartOptions.colors"
    >
    </apx-chart>
  </div>
</div>
