<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="RedisConfiguration" type="App.Cache.RedisConfigurationSection, App.Lab" />
	</configSections>

	<connectionStrings>
		<!--<add name="SQLConnection" connectionString="Data Source=192.168.45.49\BASQL;Initial Catalog=GPS3_LAB;User ID=gps3_lab;Password=gps3_lab;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />-->
		<add name="SQLConnection" connectionString="Server=DESKTOP-IL209KG;Database=GPS3_LAB;Integrated Security=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
		<add key="LstFrontEndUrl" value="http://localhost:4200"/>
	</appSettings>

	<!--<RedisConfiguration host="localhost" port="6379" databaseID="-1"/>-->
</configuration>
