<div class="multi-select-container">
  <!-- Ô nhập liệu -->
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      [placeholder]="placeholder"
      [value]="getSelectedText()"
      (focus)="toggleDropdown()"
      (input)="onSearchInput($event)"
    />
    <div class="input-group-append" (click)="toggleDropdown()">
      <span class="input-group-text">
        <i class="fa fa-chevron-down"></i>
      </span>
    </div>
  </div>

  <!-- Dropdown danh sách lựa chọn -->
  <div class="dropdown-menu show" *ngIf="isDropdownOpen">
    <ul class="list-group" [style.max-height.px]="200" style="overflow-y: auto">
      <!-- Chọn tất cả -->
      <li class="list-group-item" *ngIf="enableSelectAll">
        <input
          type="checkbox"
          (change)="toggleSelectAll($event)"
          [checked]="selectedItems.length === options.length"
        />
        Chọn tất cả
      </li>

      <!-- Danh sách lựa chọn -->
      <li *ngFor="let option of filteredOptions" class="list-group-item">
        <input
          type="checkbox"
          [checked]="isSelected(option)"
          (change)="toggleSelection(option)"
        />
        {{ option }}
      </li>
    </ul>
  </div>
</div>
