.driving-form {
  .btn-sm {
    &-cancel {
      background-color: white;
      color: #0959a0;
      border: 1px solid #0959a0;
    }

    background-color: #0959a0;
    color: white;
    border: none;
    margin-bottom: 5px;

    i {
      padding: 2px;
    }
  }

  .validated-search-btn {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &-title {
    color: #436a9f;
    font-weight: bold;
    font-size: 0.9rem;
  }

  .table-responsive {
    overflow: auto;
    max-height: calc(100vh - 245px);

    .head-light {
      background-color: #2d9cdb !important;
      color: white;
      align-items: center;
      text-align: center;
    }

    .sticky-thead {
      position: sticky;
      top: -9px;
      z-index: 1001;
    }

    .col-required {
      color: red;
    }

    th {
      vertical-align: top;
    }

    td select.form-control,
    td select.form-control-sm {
      // width: 100%;
      // min-width: 0;
      // max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }

    td {
      vertical-align: middle !important;

      .btn-delete {
        border: none;

        img {
          width: 21px;
        }
      }
    }

  }
}

::ng-deep .selected-row {
  button {
    background-color: #caeffb !important;
  }
}