/* You can add global styles to this file, and also import other style files */

$toolbar-height: 40px;

.selected-row {
  background-color: #caeffb !important;
}

.bg-warning {
  background-color: #f5e6b9d5 !important;
}