.chart-card {
  width: 100%;
  max-width: 100%;

  .chart-container {
    width: 100%;
    overflow-x: hidden;

    .container-body {
      /* height: 400px; */
      transition: width 0.3s ease;
    }
  }
}