.container-search {
  min-height: 100%;

  input {
    border-right: none;
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
    outline: none;
    /* giữ viền giống trạng thái bình thường */
  }

  .input-group-append {
    .cancel-icon {
      color: red;
      padding-right: 0 !important;

      :hover {
        font-size: 1.2rem;
      }
    }

    .input-group-text {
      background-color: white;
      padding: 0rem 0.5rem;
      border-left: none !important;
    }

    .select-option {
      width: 90px;
    }
  }

  .select-option {
    border: 1px solid #ced4da;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .dropdown-menu {
    z-index: 1002;

    .dropdown-list {
      display: none;

      &.d-block {
        display: block;
      }

      .options {
        .option {
          cursor: pointer;

          &:hover {
            background-color: #f8f9fa;
            color: black;

            .form-check-label {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}