<div class="dash-board d-flex flex-column w-100">
  <div class="widget-container container-fluid mt-2">
    <div class="widget-header">
      <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto p-0">
            <div class="fs-14 text-primary fw-bold">TỔNG QUAN CHUYẾN HÀNG</div>
          </div>
          <div
            class="col-sm-auto d-flex float-center float-md-end justify-content-between align-items-center p-0"
          >
            <div class="fs-12 fw-bold">XEM THEO</div>
            <div>
              <app-multi-select
                [vehicles]="vehicles"
                [placeholder]="'Chọn phương tiện'"
                [search]="true"
                [selectAll]="true"
                [allSelected]="isAllSelectedVehicles"
                (selectedChange)="onSelectedChangeVehicle($event)"
              ></app-multi-select>
            </div>
            <div class="btn-contenner">
              <button
                class="btn btn-primary bg-primary"
                (click)="getDataToDashBoard(this.filteredVehicles)"
              >
                <i class="fa-solid fa-rotate-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pt-2">
    <div class="row g-2 d-flex align-items-stretch h-100">
      <!-- Tổng quan công ty -->

      <div
        class="widget-container"
        [ngClass]="getWidgetClass(locationEnum.TongQuan)"
      >
        <div class="widget-header">
          <div
            class="d-flex justify-content-between text-center align-items-center"
          >
            <span class="widget-title fs-12 text-primary fw-bold text-uppercase"
              >TỔNG QUAN CÔNG TY</span
            >
            <div class="d-flex ms-auto align-items-center">
              <app-btn-extend
                [(isVisible)]="isVisibleOverView"
              ></app-btn-extend>
              <div class="btn-refresh">
                <button class="btn mx-2" (click)="refreshOverView()">
                  <i class="fa-solid fa-rotate-right"></i>
                </button>
              </div>
              <app-width-widget
                [selectedItem]="this.widthSelectedOverView"
                (widthSelected)="
                  changeWidthSelected($event, this.locationEnum.TongQuan)
                "
              ></app-width-widget>
            </div>
          </div>
        </div>
        <div
          class="container-fluid widget card-deck"
          [ngClass]="{ hidden: !isVisibleOverView }"
        >
          <div class="row g-2 w-100 h-100">
            <div [ngClass]="setOverViewClass">
              <app-vehicle-widget
                [title]="'Phương tiện của công ty'"
                [backgroundColor]="'#006ADC'"
                [totalVehicles]="this.dashboardModel.totalVehicles"
                [numberVehicle]="this.dashboardModel.totalVehicles"
                [isDisplayFooter]="false"
                [isToggleView]="this.dashboardModel.isReloadView"
              ></app-vehicle-widget>
            </div>
            <div [ngClass]="setOverViewClass">
              <app-vehicle-widget
                [title]="'Phương tiện có hàng'"
                [backgroundColor]="'#509447'"
                [totalVehicles]="this.dashboardModel.totalVehicles"
                [numberVehicle]="this.dashboardModel.loadedVehicles"
                [isDisplayFooter]="true"
                [isToggleView]="this.dashboardModel.isReloadView"
              ></app-vehicle-widget>
            </div>
            <div [ngClass]="setOverViewClass">
              <app-vehicle-widget
                [title]="'Phương tiện không hàng'"
                [backgroundColor]="'#E2803C'"
                [totalVehicles]="this.dashboardModel.totalVehicles"
                [numberVehicle]="this.dashboardModel.emptyVehicles"
                [isDisplayFooter]="true"
                [isToggleView]="this.dashboardModel.isReloadView"
              ></app-vehicle-widget>
            </div>
          </div>
        </div>
      </div>

      <!-- Biểu đồ: Phương tiện tại cửa khẩu -->
      <div
        class="widget-container"
        [ngClass]="getWidgetClass(locationEnum.CuaKhau)"
      >
        <!-- setting option -->
        <div class="widget-header">
          <div
            class="d-flex justify-content-between align-items-center flex-grow-1"
          >
            <span class="fs-12 text-primary fw-bold"
              >PHƯƠNG TIỆN TẠI CỦA KHẨU</span
            >
            <div class="d-flex ms-auto align-items-center">
              <app-btn-extend
                [(isVisible)]="isVisibleBorderGate"
              ></app-btn-extend>
              <div class="btn-refresh">
                <button class="btn mx-2" (click)="refreshBorderGate()">
                  <i class="fa-solid fa-rotate-right"></i>
                </button>
              </div>

              <app-width-widget
                (widthSelected)="
                  changeWidthSelected($event, this.locationEnum.CuaKhau)
                "
              ></app-width-widget>
            </div>
            <div class="d-flex"></div>
          </div>
        </div>
        <!-- dash board -->
        <div class="widget" [ngClass]="{ hidden: !isVisibleBorderGate }">
          <div class="align-items-center xxxx">
            <app-dashboard-doughnut
              #borderGate
              [data]="this.dashboardModel.vehicleBorderGate || []"
            ></app-dashboard-doughnut>
          </div>
        </div>
      </div>

      <!-- Biểu đồ: Phương tiện đang trên đường -->
      <div
        class="widget-container"
        [ngClass]="getWidgetClass(locationEnum.TrenDuong)"
      >
        <!-- setting option -->
        <div class="widget-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="fs-12 text-primary fw-bold d-flex text-break">
              PHƯƠNG TIỆN ĐANG TRÊN ĐƯỜNG
            </div>
            <div class="d-flex ms-auto align-items-center">
              <app-btn-extend
                [(isVisible)]="isVisibleOnTheRoad"
              ></app-btn-extend>
              <div class="btn-refresh">
                <button class="btn mx-2 border-0" (click)="refreshOnTheRoad()">
                  <i class="fa-solid fa-rotate-right"></i>
                </button>
              </div>

              <app-width-widget
                (widthSelected)="
                  changeWidthSelected($event, this.locationEnum.TrenDuong)
                "
              ></app-width-widget>
            </div>
          </div>
        </div>
        <!-- dash board -->
        <div class="widget" [ngClass]="{ hidden: !isVisibleOnTheRoad }">
          <div class="text-center align-items-center">
            <app-dashboard-doughnut
              #onTheRoad
              [data]="this.dashboardModel.vehicleOnTheRoad || []"
            ></app-dashboard-doughnut>
          </div>
        </div>
      </div>

      <!-- Biểu đồ: Phương tiện tại nhà máy -->
      <div
        class="widget-container"
        [ngClass]="getWidgetClass(locationEnum.NhaMay)"
      >
        <!-- setting option -->
        <div class="widget-header">
          <div class="d-flex justify-content-between align-items-center">
            <span class="fs-12 text-primary fw-bold"
              >PHƯƠNG TIỆN TẠI NHÀ MÁY</span
            >
            <div class="d-flex ms-auto align-items-center">
              <app-btn-extend
                [(isVisible)]="isVisibleAtTheFactory"
              ></app-btn-extend>
              <div class="btn-refresh">
                <button
                  class="btn mx-2 border-0"
                  (click)="refreshAtTheFactory()"
                >
                  <i class="fa-solid fa-rotate-right"></i>
                </button>
              </div>

              <app-width-widget
                (widthSelected)="
                  changeWidthSelected($event, this.locationEnum.NhaMay)
                "
              ></app-width-widget>
            </div>
          </div>
        </div>
        <!-- dash board -->
        <div class="widget" [ngClass]="{ hidden: !isVisibleAtTheFactory }">
          <div class="text-center align-items-center">
            <app-bar-chart
              [data]="this.dashboardModel.listVehicleAtTheFactory || []"
              [barColor]="'#e63946'"
              [minLabelWidth]="100"
              [defaultVisibleItems]="4"
            ></app-bar-chart>
          </div>
        </div>
      </div>

      <div
        class="widget-container"
        [ngClass]="getWidgetClass(locationEnum.TaiCang)"
      >
        <div class="widget-header">
          <div
            class="d-flex justify-content-between text-center align-items-center"
          >
            <span class="widget-title fs-12 text-primary fw-bold text-uppercase"
              >PHƯƠNG TIỆN TẠI CẢNG</span
            >
            <div class="d-flex ms-auto align-items-center">
              <app-btn-extend
                [(isVisible)]="isVisibleAtThePort"
              ></app-btn-extend>

              <div class="btn-refresh">
                <button class="btn mx-2 border-0" (click)="refreshAtThePort()">
                  <i class="fa-solid fa-rotate-right"></i>
                </button>
              </div>

              <app-width-widget
                (widthSelected)="
                  changeWidthSelected($event, this.locationEnum.TaiCang)
                "
              ></app-width-widget>
            </div>
          </div>
        </div>
        <!-- dash board -->
        <div class="widget" [ngClass]="{ hidden: !isVisibleAtThePort }">
          <div class="text-center align-items-center">
            <app-bar-chart
              [data]="this.dashboardModel.listVehicleAtThePort || []"
              [barColor]="'#20C997'"
              [minLabelWidth]="100"
              [defaultVisibleItems]="8"
            ></app-bar-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
