<div class="vehicle-container row d-flex justify-content-between g-2">
  <div *ngFor="let item of listCardWidgetModel" [ngClass]="widget.setClassForChild">
    <div class="card h-100" [ngStyle]="{ 'background-color': item.backgroundColor }">
      <div class="card-body">
        <div class="card-title">{{ item.title }}</div>

        <div class="card-content d-flex align-items-center text-start">
          <div class="row d-flex text-start align-items-center">
            <div class="col-auto">
              <div class="vehicle-count text-nowrap">
                {{ item.numberVehicle }}
              </div>
            </div>
            <div class="col-auto text-start">
              <div class="vehicle-label">Phương tiện</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer shadow-none" *ngIf="item.isDisplayFooter">
        <span> {{ item.percentage }} % / Tổng phương tiện</span>
      </div>
    </div>
  </div>
</div>
