<div class="card h-100" [ngStyle]="{ 'background-color': backgroundColor }">
  <div class="card-body container-fluid py-1">
    <div class="card-title">{{ title }}</div>

    <div class="card-content d-flex align-items-center text-start">
      <div class="row d-flex text-start align-items-center">
        <div class="col-auto">
          <div class="vehicle-count text-nowrap">{{ numberVehicle }}</div>
        </div>
        <div class="col-auto text-start p-0">
          <div class="vehicle-label">Phương tiện</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer shadow-none py-0 mb-2" *ngIf="isDisplayFooter">
    <span> {{ this.percentage }} % / Tổng phương tiện</span>
  </div>
</div>
